@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

::selection {
  color: #fff;
  background-color: #4DD080;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.crm-section:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.plan-ul>li:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  z-index: -1;
}

.contract-button:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  z-index: -1;
}